USE [master]
GO
/****** Object:  Database [ShopShere]    Script Date: 17-09-2025 17:12:49 ******/
CREATE DATABASE [ShopShere]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopShere', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ShopShere.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopShere_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ShopShere_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopShere].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopShere]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 17-09-2025 17:12:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](150) NOT NULL,
	[ProductId] [nvarchar](150) NOT NULL,
	[OrderDate] [datetime] NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 17-09-2025 17:12:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17-09-2025 17:12:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [varchar](10) NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([OrderId], [UserId], [ProductId], [OrderDate], [UnitPrice], [Quantity], [TotalAmount]) VALUES (1, N'0', N'1', CAST(N'2025-09-17T16:30:55.173' AS DateTime), CAST(25000.00 AS Decimal(10, 2)), 3, CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[Cart] ([OrderId], [UserId], [ProductId], [OrderDate], [UnitPrice], [Quantity], [TotalAmount]) VALUES (2, N'0', N'1', CAST(N'2025-09-17T16:39:07.820' AS DateTime), CAST(25000.00 AS Decimal(10, 2)), 10, CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [ProductName], [Description], [Price], [StockQuantity]) VALUES (1, N'Smartphone', N'Android smartphone with 6GB RAM', CAST(25000.00 AS Decimal(10, 2)), 37)
INSERT [dbo].[Products] ([ProductId], [ProductName], [Description], [Price], [StockQuantity]) VALUES (2, N'Laptop', N'15-inch laptop with 512GB SSD', CAST(60000.00 AS Decimal(10, 2)), 30)
INSERT [dbo].[Products] ([ProductId], [ProductName], [Description], [Price], [StockQuantity]) VALUES (3, N'T-Shirt', N'Cotton t-shirt, size M', CAST(500.00 AS Decimal(10, 2)), 100)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Name], [Email], [PasswordHash], [Role], [CreatedDate]) VALUES (1, N'Kural', N'kural@gmail.com', N'$2a$11$3Y/a87wtkl50AERTTXFQou5vPAEmtkWxk2giBvUfCFdfzkZrKpP2C', N'Admin', CAST(N'2025-09-17T13:47:47.073' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Name], [Email], [PasswordHash], [Role], [CreatedDate]) VALUES (2, N'Muthu', N'muthu@gmail.com', N'$2a$11$aj.cCTt7Cv8S1YWzfibQueFMkPIJGd9STBKFPMGnp0KssGnG6RU.i', N'Admin', CAST(N'2025-09-17T13:52:45.983' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Name], [Email], [PasswordHash], [Role], [CreatedDate]) VALUES (3, N'kaviya', N'kaviya@gmail.com', N'$2a$11$.TKi5UylHpGoAbrYCD4OMeS.GE9W50mhY9HYP4i3Dk/vc1JWuYji2', N'Admin', CAST(N'2025-09-17T14:08:07.887' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534E699C778]    Script Date: 17-09-2025 17:12:49 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
USE [master]
GO
